---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% assign PIs = page.profiles | where: 'type', 'PI' %}
      <div class="profile-subgroup">
        <h2>PI</h2>
        {% for PI in PIs %}
          {% include profile.liquid profile=PI %}
        {% endfor %}
      </div>

      {% assign PDRAs = page.profiles | where: 'type', 'PDRA' %}
      <div class="profile-subgroup">
        <h2>Postdocs</h2>
        {% for PDRA in PDRAs %}
          {% include profile.liquid profile=PDRA %}
        {% endfor %}
      </div>

      {% assign phd_students = page.profiles | where: 'type', 'PhD' %}
      <div class="profile-subgroup">
        <h2>PhD students</h2>
        {% for phd_student in phd_students %}
          {% include profile.liquid profile=phd_student %}
        {% endfor %}
      </div>
    {% endif %}
  </article>
</div>
